<!DOCTYPE HTML>

<html>
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="" />
</head>


<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Arriendos de Temporada</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto text-center">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a
		>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="perros.html">a</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="gatos.html">b</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="acerca.html">Acerca de nosotros</a>
			</li>
		</ul>
		<ul class="navbar-nav text-center">
			<li class="nav-item">
				<p class="timer text-white" id="display-time"></p>
			</li>
			<li class="nav-item">
				<a class="btn btn-outline-success mt-1" routerLink="/auth/login">Contactanos</a>
			</li>
		</ul>
	</div>
</nav>

  <!--Titulo-->
  <div class="container">
	<h2 class="display-3 text-center m-3">Arriendos de Temporada</h2>
</div>

<!--Carrusel-->
<div id="carouselIndicador" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselIndicador" data-slide-to="0" class="active"></li>
		<li data-target="#carouselIndicador" data-slide-to="1"></li>
		<li data-target="#carouselIndicador" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<a href="perros.html">
				<img src="../../../../assets/images/habitacion-single-hotel-panamericano.jpg" class="d-block w-100" alt="perros" />
			</a>
			<div class="carousel-caption d-none d-md-block">
				<h5>Hermosos Cachorros</h5>
				<p>Tenemos hermosos cachorros para adoptar revisalos aquí</p>
			</div>
		</div>
		<div class="carousel-item">
			<a href="gatos.html">
				<img src="img/gatos.png" class="d-block w-100" alt="gatos" /></a>
			<div class="carousel-caption d-none d-md-block">
				<h5>Hermosos Gatos</h5>
				<p>Tenemos hermosos gatitos para adoptar revisalos aquí.</p>
			</div>
		</div>
		<div class="carousel-item">
			<a href="404.html">
				<img src="img/exotic.png" class="d-block w-100" alt="animales exoticos" />
			</a>
			<div class="carousel-caption d-none d-md-block">
				<h5>Animales Exoticos</h5>
				<p>Tenemos una variedad de animales exoticos, revisalos aquí.</p>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselIndicador" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselIndicador" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!--Subtitulo-->
<div class="container mb-60">
	<h2 class="display-4 text-center m-3">Animales Populares</h2>
</div>

<!--Cards animales-->
<div class="container text-center mb-5">
	<div class="row">
		<div class="col-md d-flex align-items-stretch">
			<div class="card mx-auto mb-4" style="width: 18rem">
				<img src="img/puddle.jpg" class="card-img-top img-card" alt="perros" />
				<div class="card-body">
					<h5 class="card-title">Cachorro Puddle</h5>
					<p class="card-text">
						Pequeños y adorables a quien no le gustan estos preciosos animales.
					</p>
					<a href="perros.html" class="btn btn-primary">Revisa acá</a>
				</div>
			</div>
		</div>
		<div class="col-md d-flex align-items-stretch">
			<div class="card mx-auto mb-4" style="width: 18rem">
				<img src="img/siberiano.jpg" class="card-img-top img-card" alt="fotos de gatos" />
				<div class="card-body">
					<h5 class="card-title">Gato Siberiano</h5>
					<p class="card-text">
						Regalones y comilones, una lujosa y delicada raza.
					</p>
					<a href="gatos.html" class="btn btn-primary">Revisa acá</a>
				</div>
			</div>
		</div>
		<div class="col-md d-flex align-items-stretch">
			<div class="card mx-auto" style="width: 18rem">
				<img src="img/erizo.png" class="card-img-top img-card" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Erizo de tierra</h5>
					<p class="card-text">
						A quien no le gustaria tener uno de estos en casa, simplemente hermosos.
					</p>
					<a href="404.html" class="btn btn-primary">Pronto</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Subtitulo-->
<div class="container mb-60">
	<h2 class="display-4 text-center m-3">Alimentos mas comprados</h2>
</div>

<!--Cards comidas-->
<div class="container-fluid text-center mb-5">
	<div class="row">
		<div class="col-lg">
			<div class="card mx-auto mb-4" style="width: 18rem">
				<img src="img/dogchow.jpg" class="card-img-top img-card" alt="comida perros" />
				<div class="card-body">
					<h5 class="card-title">Dog Chow</h5>
					<p class="card-text">
						Delicioso y saludable, una de las marcas más favoritas.
					</p>
					<a href="perros.html" class="btn btn-primary">Revisa acá</a>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<div class="card mx-auto mb-4" style="width: 18rem">
				<img src="img/catchow.jpg" class="card-img-top img-card" alt="comida perros" />
				<div class="card-body">
					<h5 class="card-title">Cat Chow</h5>
					<p class="card-text">8 de cada 10 gatitos comen cat chow.</p>
					<a href="gatos.html" class="btn btn-primary">Revisa acá</a>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<div class="card mx-auto mb-4" style="width: 18rem">
				<img src="img/pedigree.jpg" class="card-img-top img-card" alt="comida perros" />
				<div class="card-body">
					<h5 class="card-title">Pedigree</h5>
					<p class="card-text">
						Pedigree Vital etapa 3 para los mas adultos.
					</p>
					<a href="perros.html" class="btn btn-primary">Revisa acá</a>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<div class="card mx-auto mb-4" style="width: 18rem">
				<img src="img/Mazuri.jpg" class="card-img-top img-card" alt="comida erizo" />
				<div class="card-body">
					<h5 class="card-title">Mazuri</h5>
					<p class="card-text">
						La comida mas saludable y deliciosa para erizos de tierra.
					</p>
					<a href="404.html" class="btn btn-primary">Revisa acá</a>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<div class="card mx-auto mb-4" style="width: 18rem">
				<img src="img/Lomas.jpg" class="card-img-top img-card" alt="comida tortuga" />
				<div class="card-body">
					<h5 class="card-title">Lomas</h5>
					<p class="card-text">
						Alimento para tortugas premium y saludable.
					</p>
					<a href="404.html" class="btn btn-primary">Revisa acá</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Sobre nuestros productos-->
<div class="container mb-60">
	<h2 class="display-4 text-center m-3">Sobre nuestros productos</h2>
</div>
<div class="container mb-60">
	<div class="accordion" id="accordionExample">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			Calidad
		  </button>
				</h2>
			</div>

			<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
					Buscamos entregar un servicio de excelencia a nuestros Clientes, para lo cual tenemos definida una visión compartida respecto de los principales atributos y conductas asociadas a nuestro servicio, en materia de servicio y atención al cliente, las cuales
					constituyen nuestro “Sello de Servicio”
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			Seguridad
		  </button>
				</h2>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					Todos nuestros productos son seguros y con sus certificados correspondientes, jamás dañaremos a tus animales.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			Confianza
		  </button>
				</h2>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				<div class="card-body">
					Nuestra empresa lleva en el rubro mas de 10 años, sin errores ni descansos, por eso nuestros clientes nos eligen año a año.
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<h2 class="display-3 text-center m-3">Convertidor de moneda</h2>
</div>

<!--Formulario convertidor-->
<div class="container mt-5 mb-5">
	<form>
		<div class="form-group">
			<label for="cantidad">Dolares</label>
			<input type="number" class="form-control" id="cantidad" required>
		</div>
		<div class="form-group">
			<label for="resultado">Peso chileno</label>
			<p id='result' class="text-success">$0</p>
		</div>
		<button type="button" onclick="convert()" class="btn btn-primary">Convertir</button>
	</form>
</div>

<!--Footer-->
<footer class="container-fluid bg-dark pt-3 ">
	<div class="row text-center text-white">
		<div class="col-lg">
			<h5>Contáctanos</h5>
			<a href="contacto.html" class="text-white">Dejanos un mensaje</a>
		</div>
		<div class="col-lg">
			<h5>Redes Sociales</h5>
			<a href="https://www.facebook.com" class="d-block text-white mb-1"><i class="fab fa-facebook-f"></i> Facebook</a
	  >
	  <a href="https://twitter.com/home" class="d-block text-white mb-1"
		><i class="fab fa-twitter"></i> Twitter</a
	  ><a href="https://www.instagram.com" class="d-block text-white"
		><i class="fab fa-instagram"></i> Instagram</a
	  >
	</div>
	<div class="col-lg">
	  <h5>Enlaces de interés</h5>
	  <a href="https://www.whiskas.cl" class="d-block text-white"
		>Whiskas</a
	  >
	  <a
		href="https://www.pedigree.es/productos/"
		class="d-block text-white"
		>Pedigree</a
	  >
	  <a href="https://www.purina-latam.com/cl" class="d-block text-white"
		>Purina</a
	  >
	</div>
  </div>
</footer>
</body>

<script src="js/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"
></script>
</html>


<router-outlet></router-outlet>